@model AddCategoryViewModel

<div>
    @foreach (var category in Model.Categories)
    {
        <span>@category.Name, </span>
    }
</div>
<div>
    <form asp-controller="Category" asp-action="Add" method="post">
        <label>Name</label>
        <input type="text" asp-for="CategoryName"/>

        <input type="submit"/>
    </form>
</div>
